<div class="wrapper">

	<header>
		
		<h1>Say no to FOMO with Jim Beam Lime Splash.</h1>
	
	</header>
	
	<article>
	
		<h2>Are you missing out on all the fun this year?</h2>
		<h2>Are your friends having more fun than you?</h2>
		<h2>Then Jim Beam Lime Splash has the answer.</h2>

		<h3>
			Say no to #<span class="bold">FOMO</span> by adding your face to your favourite end-of-summer video clip and put yourself at the centre of the action. What's more you'l be able to claim 50p off your next can of Lime Splash!
		</h3>
		<h3>
			<span class="bold">HIT LIKE</span> to put you and your friends at the heart of the action.
		</h3>

		<h4>
			Jim Beam Lime Splash is a refreshing hit of citrus fizz combined with Jim Beam's signature smooth bourbon in one ready-mixed can.
		</h4>
		<a href="#"><img class="hall-of-fame" src="img/fan/hall-of-fame-button.png" alt="Hall of fame" /></a>
	</article>
	
	<aside>
	
		<a href="#/videoSelection"><img src="img/fan/get-started.png" alt="Get Started" /></a>
	
	</aside>
	
	<footer>
		<div class="legal">
			<a href="http://google.com">Terms</a>
			<a href="http://google.com" class="last">Privacy Policy</a>
		</div>
		<div class="drink-aware">
			<h5><span class="drink-aware-title">Drinkaware</span></h5>
			<p>Jim Beam&#174; Lime Splash, Kentucky Straight Bourbon Whiskey by Jim Beam&#174;, 4.6% Alc/Vol.<p/>
			<p>&#169;2013 James B. Beam Distilling Co, Clemmont, KY, USA. </p>
		</div>
	</footer>

</div>